#calculator {
  align-self: center;
  border-color: black;
  border-style: solid;
  width:40%;
  max-width: 400px;
  min-width: 250px;
  height: 400px;
  display: flex;
  flex-direction: column;
  
}
#display {
  width: 90%;
  height: 60px;
  text-align: right;
  font-size: large;
}

.container {
  display: flex;
  justify-content: center;
}

.num {
  border: 1px, rgb(0, 0, 0) ;
  border-radius: 50px;
  width: 25%;
  height: 50%;

}

.operator {
  border: 1px;
  border-radius: 50px;
  width: 25%;
  height: 40%;
}